.end [type="checkbox"] {
    display: none;
}

.end label.toggleMenu {
    display: none;
    color: rgb(126, 122, 123);
    padding: 8px 15px;
}

@media all and (max-width: 700px) {
    .conteiner {
        overflow: hidden;
    }
    .center {
        display: none;
    }
    .end label.toggleMenu {
        display: block;
    }
}

@media all and (max-width: 420px) {
    .conteiner {
        padding: 0px;
    }
    .end>ul li a {
        padding: 10px 2px;
    }
    .end{
        width: 170px;
        padding-right: 4px;
    }
}